
html , body {
	color: #fff; 
	font-family: Futura;
	margin: 0; 
	padding: 0;
	width:100%;
	height:100%;
  overflow:hidden;
}
body {
  background: #e0e6eb;
}
svg {
  width: 100%;
  height: 100%;
}
svg g {
  mix-blend-mode: lighten;
}
svg polygon {
  stroke: none;
  fill: white;
}

#map {
  background:rgba(33,33,33,1);
	border:solid 2px #444;
	margin: 0;
  padding:0;
	left:0; right:0; top:0; bottom:0;
  height:100%;
  width:100%;
	position: absolute;
	z-index:100;
}



.hidden-div
{
    display:none;
}


#login
{
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    left:0; right:0; top:100px; bottom:0;

    position: absolute;
    z-index:100;
}

input,button{
                font-family: Futura;
                font-size: 20px;
                border: 1px solid #ccc;
                padding: 7px 0px;
                border-radius: 3px;
                padding-left:5px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
            }
            input:focus{
                    border-color: #66afe9;
                    outline: 0;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
            }
  button{width:100px;text-align:center;}

